<!DOCTYPE html>
<html>
  <head>
    <title>Mike Wu | Fullstack Developer</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="../images/icon.png">

  </head>
  <body>