<%- include('./partials/header') %>

<div id="firstBackground" class="parallax">
  <div id="nameSection">
    <span>hi, this is</span>
    <strong id="nameTitle"><span>MIKE WU</span></strong>
  </div>
</div>

<div id="firstSection">
  <div class="content">
    <div class="aboutMikeSection">
      <div class="mikeHeader">
        <strong id="mikeHeaderTitle">About Mike</strong>
      </div>
      <div class="mikeBackground">
        <div id="profilePic">
          <img src="../images/profilePic.jpg" alt="Profile Pic" style="width:45%; border-radius: 15px;">
        </div>
        <div >
          <p id="backgroundDescription"> 
            I am a full-stack web developer who enjoys solving problems and learning new trending technologies. After working at engineering industry for several years, I have developed strong problem solving skill and management skill to deliver a production.
          </p>
        </div>
        <div class="socialLink">
          <div class="socailLinkTitle">
            <span>Let's get in touch!</span>
          </div>
          <div class="socialGroupLink">
            <a href="https://www.linkedin.com/in/mikejcwu/" target="_blank">
              <div class="individualLink" id="Linkedin-logo"></div>
            </a>
            <a href="https://www.instagram.com/mikeyvr15/" target="_blank">
              <div class="individualLink" id="Instagram-logo"></div>
            </a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=mikejcwu@gmail.com" target="_blank">
              <div class="individualLink" id="Gmail-logo"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="mikeDetails">
        <div class="mikeSkillSet">
          <span id='skillSetTitle'>Skills & Tools</span>
          <div id="skillList">
            <div id="softwareSkill">
              <h4 class="skillSubTitle">Software</h4>
                <ul style="margin:0px 0px 5px 0px">
                  <li>  
                    <div class="li">
                      <span class="skillLi">Languages & Tech: </span> NodeJS, Ruby, JavaScripts, JSON, HTML5, CSS3, AJAX <br>
                    </div>
                    <%# <div class="languageLogos">
                      <div class="languageLogo" style="background-image: url('../images/logo/NodeJs-Logo.png'); width: 90px;"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/Ruby-Logo.png')"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/JavaScript-Logo.png')"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/HTML5-Logo.png')"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/CSS-Logo.png'); "></div>
                    </div> %>
                  </li>
                  <li>
                    <div class="li">
                      <span class="skillLi">Framework & Libraries: </span> Rails, jQuery, Bootstrap, ReactJS, ExpressJS, SASS
                    </div>  
                    <%# <div class="languageLogos">
                      <div class="languageLogo" style="background-image: url('../images/logo/RubyOnRails-Logo.png'); width: 90px;"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/JQuery-Logo.png'); width: 90px"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/Bootstrap-Logo.png');"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/ReactJs-Logo.png')"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/ExpressJs-Logo.png'); width: 90px"></div>
                    </div> %>
                  </li>
                  <li>  
                    <div class="li">
                      <span class="skillLi">Database management: </span> PostgresQL, MongoDB
                    </div>
                    <%# <div class="languageLogos">
                      <div class="languageLogo" style="background-image: url('../images/logo/Postgresql-Logo.png');"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/MongoDB-Logo.png'); width: 110px"></div>
                    </div> %>
                  </li>
                  <li>  <span class="skillLi">Code Test: </span> expect, mocha</li>
                  <li>
                    <div class="li">
                      <span class="skillLi">Version Control & Site: </span> Git, Github, Heroku
                    </div>
                    <%# <div class="languageLogos">
                      <div class="languageLogo" style="background-image: url('../images/logo/GitHub-Logo.png');"></div>
                      <div class="languageLogo" style="background-image: url('../images/logo/Heroku-Logo.png');"></div>
                    </div>   %>
                  </li>
                </ul>
            </div>
            <div id="generalSkill">
              <h4 class="skillSubTitle">General Skill</h4>
              <ul style="margin:0px 0px 5px 0px">
                <li>Mechanical engineering </li>
                <li>Excellent command of spoken and written English, and Mandarin</li>
              </ul>
            </div>
          </div> 
          
        </div>

        <div class="mikeEducation">
          <span id="educationTitle">Education</span>
          <div id="educationList">
            <ul style="margin:5px 0px 5px 0px">
              <li >  
                <span class="skillLi">Codecore Web Development Bootcamp </span> <br> Sep 2018 - Dec 2018 <br>
                Fullstack Web Development Diploma
              </li>
              <li>  
                <span class="skillLi">University of British Columbia </span> <br> Sep 2007 - May 2012 <br>
                Bachelor of Applied Science (Mechanical Engineer)
              </li>
            </ul>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

<div id="secondBackground" class="parallax" >
  <div class="content">
    <div id="portfolioGroup">
      <div id="portfolioHeader">
        <span>Here's Some Projects I've Done</span>
      </div>
      <div id="portfolioContent">
        <div class="portfolioDiv" id="firstPortfolio">
          <div class="portImg" >
            <a href="https://chittercat.herokuapp.com/" target="_blank">
              <img src="../images/firstPortImg00.png" alt="chitter-cat" class="portImgStyle">
            </a>
          </div>
          <div class="portfolioDescription">
            <div class="portfolioTitle">
              <span class='portTitle'>
                <a href="https://chittercat.herokuapp.com/" target="_blank">Chitter-Cat</a> 
              </span>
            </div>
            <div class="portfolioDetail">
              <p>
              A chat website that is able to do a live chat between friends in the same room. The user is able to choose the display name and a chat room to join. I created this app to learn more on express.js and how socket.io interact with front-end and back-end<br> <br>
              • Express.js front-end and back-end <br>
              • Scoket.io <br>
              • Expect and mocha for code testing 
              </p>
            </div>
          </div>
        </div>

        <div class="portfolioDiv" id="secPortfolio">
          <div class="portImg" >
            <a href="https://core-aviation.herokuapp.com/" target="_blank">
              <img src="../images/secPortImg00.png" alt="Core-Aviation" class="portImgStyle">
            </a>
          </div>
          <div class="portfolioDescription">
            <div class="portfolioTitle">
              <span class='portTitle'>
                <a href="https://core-aviation.herokuapp.com/" target="_blank">Core-Aviation</a> 
              </span>
            </div>
            <div class="portfolioDetail">
              <p>
              As an aviation enthusiast and a photographer, I am always chasing different types of aircrafts and I am always wondering how other website track flights in the air. I decided to create an app on my own to understand the magic running behind the scene. <br><br>
              This is an interactive website that is able to do live flight tracking around the world. The user is able to track flight details such as departure, arrival, arrival time etc. <br> <br>
              • React front end <br>
              • Live flight tracking around the world <br>
              • Detail information of flight
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="thirdBackground" class="parallax">
  <div class="content">
    <div id="expSection">
      <div id='expTitle'>
        <span>Professional Experience</span> <br>
      </div>
      <div id="expGroup">
        <div class="companyDetail" id="stemcell">
          <div id="stemcell-logo">
            <img src="../images/STI-Logo.png" alt="STI-Logo" class="companyLogo">
          </div>
          <div class="companyExp" id="stemcell-detail">
            <span class="skillLi">Stemcell Technologies</span> <br>
            <span class="expPosition">Mechanical Engineer</span> <br>
            Apr 2017 - Sep 2018 <br>
            <ul class="expUl">
              <li>Autocad and Revit (3D modeling)</li>
              <li>Facilitated and involved in discussions with different shareholders for system requirement.</li>
              <li>Communicated with equipment suplliers to select proper equipment for the purified water system</li>
            </ul>
          </div>
        </div>

        <div class="companyDetail" id="ronWong">
          <div id="ronWong-logo">
            <img src="../images/RW-Logo.png" alt="RW-Logo" class="companyLogo">
          </div>
          <div class="companyExp" id="ronWong-detail">
            <span class="skillLi">Ron Wong Associates</span> <br>
            <span class="expPosition">Mechanical Engineer</span> <br>
            Jan 2013 - Jan 2016 <br>
            <ul class="expUl">
              <li>Designed Mechanical systems of the building according to standard</li>
              <li>Communicated with clients and contractors onsite to resolve any issues that occurred</li>
              <li>Worked closely with design team to meet client's needs and deadlines</li>
            </ul>
          </div>          
        </div>
      </div>   
    </div>
  </div>
</div>

<%- include('./partials/footer') %>