<%- include('./partials/header') %>

<div id="firstBackground" class="parallax">
  <div id="nameSection">
    <span>hi, this is</span>
    <strong id="nameTitle"><span>MIKE WU</span></strong>
  </div>
</div>

<div class="aboutMikeSection">
  <div class="mikeHeader">
    <strong id="mikeHeaderTitle">About Mike</strong>
  </div>
  <div class="mikeBackground">
    <div id="profilePic">
      <img src="../images/profilePic.jpeg" alt="Profile Pic" style="width:150px">
    </div>
    <div id="backgroundDescription">
      <p style="margin:0px"> 
        I am a full-stack web developer who enjoys solving problems and learning new trending technologies. After working at engineering industry for several years, I have developed strong problem solving skill and management skill to deliver a production.
      </p>
    </div>
    
  </div>
  <div class="mikeDetails">
    <div class="mikeSkillSet">
      <span id='skillSetTitle'>Skill Set</span>
      <div id="skillList">
        <div id="softwareSkill">
          <h4 style="margin:10px">Software</h4>
          <ul style="margin:0px 0px 5px 0px">
            <li>  <span class="skillLi">Languages & Tech: </span> NodeJS, Ruby, JavaScripts, JSON, HTML5, CSS3, AJAX</li>
            <li>  <span class="skillLi">Framework & Libraries: </span> Rails, jQuery, Bootstrap, ReactJS, ExpressJS, SASS</li>
            <li>  <span class="skillLi">Database management: </span> PostgresSQAL, MongoDB</li>
            <li>  <span class="skillLi">Code Test: </span> expect, mocha</li>
            <li>  <span class="skillLi">Version Control: </span> Git, Github</li>
          </ul>
        </div>
        <div id="generalSkill">
          <h4 style="margin:10px">General Skill</h4>
          <ul style="margin:0px 0px 5px 0px">
            <li>Mechanical engineering </li>
            <li>Excellent command of spoken and written English, and Mandarin</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mikeEducation">
      <span id="educationTitle">Education</span>
      <div id="educationList">
        <ul style="margin:0px 0px 5px 0px">
          <li >  
            <span class="skillLi">Codecore Web Development Bootcamp </span> <br> Sep 2018 - Dec 2018 <br>
            Fullstack Web Development Diploma
          </li>
          <li>  
            <span class="skillLi">University of British Columbia </span> <br> Sep 2007 - May 2012 <br>
            Bachelor of Applied Science (Mechanical Engineer)
          </li>
        </ul>
      </div>
    </div>
  </div>
  
</div>

<div id="secondBackground" class="parallax" ></div>

<%- include('./partials/footer') %>