<%- include('./partials/header') %>

<div id="firstBackground" class="parallax">
  <div id="nameSection">
    <span>hi, this is</span>
    <strong id="nameTitle"><span>MIKE WU</span></strong>
  </div>
</div>

<div class="aboutMikeSection">
  <div class="mikeHeader">
    <strong id="mikeHeaderTitle">About Mike</strong>
  </div>
  <div class="mikeBackground">
    <p style="margin:0px"> 
      I am a full-stack web developer who enjoys solving problems and learning new trending technologies. After working at engineering industry for several years, I have developed strong problem solving skill and management skill to deliver a production.
    </p>
  </div>
  <div class="mikeDetails">
    <div class="mikeSkillSet">
      <span id='skillSetTitle'>Skill Set</span>
      <div id="skillList">
        <ul style="margin:0px 0px 5px 0px">
          <li>  <span style="color:orange">Languages & Tech: </span> NodeJS, Ruby, JavaScripts, JSON, HTML5, CSS3, AJAX</li>
          <li>  <span style="color:orange">Framework & Libraries: </span> Rails, jQuery, Bootstrap, ReactJS, ExpressJS, SASS</li>
          <li>  <span style="color:orange">Database management: </span> PostgresSQAL, MongoDB</li>
          <li>  <span style="color:orange">Code Test: </span> expect, mocha</li>
          <li>  <span style="color:orange">Version Control: </span> Git, Github</li>
          <li>  <span style="color:orange">Others: </span> Mechancial engineering design process</li>
        </ul>
      </div>
    </div>

    <div class="mikeEducation">
      <span id="educationTitle">Education</span>

      <div id="codecore">
      
      </div>
      
      <div id="ubcEngineering">

      </div>
    </div>
  </div>
  
</div>

<div id="secondBackground" class="parallax" ></div>

<%- include('./partials/footer') %>