body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-size: 110%;
  /* min-width: 700px;
   width: auto !important;
   width: 700px;  */
}

/* ----------- parallax css ----------- */

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#firstBackground{
  background-image: url('../images/mikeHiking.jpeg');
  min-height: 870px; 
}

#secondBackground{
  /* opacity: 0.80; */
  background-image: url('../images/meNaircraft.JPG');
  height: 1100px; 
  background-position: left;
  background-size: contain;
}

#thirdBackground{
  background-image: url('../images/vanNightScene.JPG');
  min-height: 900px; 
}

/* ----------- general section css ----------- */

#firstSection{
  background-color: rgb(238, 238, 238);
  padding: 2%;
  /* background-color: white; */
}

#secondBackground{
  /* background-color: rgb(238, 238, 238); */
  background-color: white;
}

.content{
  margin: 0 auto;
  width: 100%;
}

/* ----------- SECTION CSS ----------- */

#nameSection {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

#nameSection > *{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 30px;
}

#nameTitle {
  color: #fff;
  font-size: 65px;
  letter-spacing: 10px;
} 

.aboutMikeSection{
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  margin-right: 22%;
  width: 56%;
}

.aboutMikeSection > div{
  font-size: 17px;
}

.mikeHeader{
  margin: 20px 5px 5px 5px;
  text-align: center;
  color: black;
}

#mikeHeaderTitle{
  font-size: 25px;
}

.mikeBackground{
  margin: 0px 0px 20px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#backgroundDescription{
  font-size: 22px;
  margin: 0px;
}

.mikeDetails{
  display: flex;
  flex-direction: column;
}

.mikeDetails > div{
  width: 100%;
  margin: 5px;
  text-align: left;
  font-size: 17px;
}

#skillSetTitle, #educationTitle, #expTitle{
  margin: 0px;
  color: blue;
  font-weight: bold;
  font-family: "Brandon Grotesque";
  font-size: 24px;
}

.skillSubTitle{
  margin: 10px;
  font-size: 17px;
  font-family: "Brandon Grotesque";
}

#skillList, #educationList{
  color: #50555c;
}

.skillLi{
  color: #FF7F50;
  font-weight: bold;
  font-size: 18px;
}

li{
  margin-bottom: 5px;
}

#expSection{
  display: flex;
  flex-direction: row;
}

#expSection, #portfolioGroup > div{
  font-size: 17px;
}

#expList{
  /* background-color: white; */
  padding: 5% 8% 5% 8%;
}

#expGroup{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.expPosition{
  color: #3CB371;
  font-weight: bold;
}

.companyDetail{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.companyLogo{
  width: 150px;
  margin: 20px;
  border-radius: 17px;
}

#portfolioGroup{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 40%; 
  margin-right: 2%;
  padding: 40px 10px 20px 20px;
}

#portfolioContent{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#portfolioContent > div{
  text-align: left;
}

#portfolioHeader {
  margin-bottom: 10px;
  color: blue;
  font-weight: bold;
  font-family: "Brandon Grotesque";
  font-size: 24px;
  text-align: left;
}

.portfolioDiv{
  display: flex;
  flex-direction: row;
  margin: 20px 10px 30px 10px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.portfolioTitle{
  margin-bottom: 10px;
  width: 100%;
}

.portTitle{
  color: #228B22;
  font-weight: bold;
  font-size: 24px;
}

.portfolioImg{
  width: 50%;
  height: 250px;
  margin-right: 20px;
  border-radius: 20px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#firstPortImg00{
  background-image: url('../images/firstPortImg00.png');
}

.portfolioDescription{
  width: 50%;
  margin-left: 10px;
  padding-left: 20px;
}

.portfolioDetail{
  color: #50555c;
}

#secPortImg00{
  background-image: url('../images/secPortImg00.png');
}

#thirdPortImg00{
  background-image: url('../images/thirdPortImg00.png');
}