body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-size: 110%;
  /* min-width: 700px;
   width: auto !important;
   width: 700px;  */
}

/* ----------- parallax css ----------- */

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#firstBackground{
  background-image: url('../images/mikeHiking.jpeg');
  min-height: 500px; 
}

#secondBackground{
  /* opacity: 0.80; */
  background-image: url('../images/meNaircraft.JPG');
  height: 535px; 
  background-position: left;
  background-size: contain;
}

/* ----------- general section css ----------- */

#firstSection{
  background-color: rgb(238, 238, 238);
}

.content{
  margin: 0 auto;
  width: 100%;
}

#secondSection{
  background-color: white;
}

/* ----------- SECTION CSS ----------- */

#nameSection {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

#nameSection > *{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 15px;
}

#nameTitle {
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
} 

.aboutMikeSection{
  
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.aboutMikeSection > div{
  font-size: 15px;
}

.mikeHeader{
  margin: 20px 5px 5px 5px;
  text-align: center;
  color: black;
}

#mikeHeaderTitle{
  font: 20px;
}

.mikeBackground{
  margin: 0px 0px 20px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mikeDetails{
  display: flex;
  flex-direction: column;
}

.mikeDetails > div{
  width: 100%;
  margin: 5px;
  text-align: left;
  font-size: 12px;
}

#skillSetTitle, #educationTitle, #expTitle {
  margin: 0px;
  color: blue;
  font-weight: bold;
  font-family: "Brandon Grotesque";
}

.skillSubTitle{
  margin: 10px;
  font-family: "Brandon Grotesque";
}

#skillList, #educationList{
  color: #50555c;
}

.skillLi{
  color: orange;
  font-weight: bold;
}

li{
  margin-bottom: 5px;
}

#expSection{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

#expSection > div{
  font-size: 12px;
}

#expList{
  margin-left: 45%; 
  margin-top: 30px;
  width: 45%;
  background-color: rgb(238, 238, 238);
  padding: 10px;
}

#expGroup{
  margin-top: 5px;
}

.expPosition{
  color: #3CB371;
  font-weight: bold;
}

.companyDetail{
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.companyLogo{
  width: 150px;
  margin: 20px;
  border-radius: 15px;
}

.expUl{
  color: #50555c;
}